body {
  font-family: "helvetica";
  margin: 1em auto;
  max-width: 60em;
  padding: 1em;
}

.title {
  cursor: pointer;
}

.title::before {
  content: "⬇️ ";
}

.collapsed>.title::before {
  content: "➡️ ";
}

.details {
  max-width: 40em;
}